<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Angular One</title>
</head>
<body>
<!--
Explanation state below
    ng-app: defines an AngularJS application.
    ng-model: binds the value of HTML controls(input, select, textarea) to application data.
    ng-bind: binds application data to the HTML view.
    ng-init: initializes AngularJS application variables.

AngularJS Expressions
- expressions are written inside double braces: {{ expression }}, this is exactly the same as the ng-bind directive.
    
-->
    
<!--Example One-->
<!-- 
<div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <h1>Hello {{name}}</h1>
</div>-->
    
    
<!--Example Two-->
<div ng-app="myApp" ng-controller="myCtrl">
    <p>First Name: <input type="text" ng-model="firstName"></p>
    <p>Last Name: <input type="text" ng-model="lastName"></p>
    <p>Full Name: {{firstName + " " + lastName}} </p>
</div>
    
    <!--
<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>-->
        
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
angular.module("myApp",[]).controller("myCtrl", function($scope) {
    $scope.firstName= "Lebron";
    $scope.lastName= "James";
});
</script>
</body>
</html>